li {
  font-size: 36px;
  padding: 0 8px;
}

ul {
  margin: 0;
  list-style-type:none;
  display: flex;
  justify-content: center;
  padding-inline-start: 0px;
}

ul a {
  color: #787b80;
}

ul a:hover {
  color: rgba(0, 150, 100, 0.9);
  transition: 1s;
}
